@import '../styles/._variables.scss';

#register {
     position: relative;
     display: flex;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     background: $bg-color;
     color: $white;

     #register-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: 150px;
          background: $blue-dark;
          -webkit-box-shadow: 0px 12px 68px 10px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 12px 68px 10px rgba(0,0,0,0.75);
          box-shadow: 0px 12px 68px 10px rgba(0,0,0,0.75);
          border-radius: 8px;
          height: 425px;
          width: 450px;
          // border: 1px red solid;

          #register-title {
               position: absolute;
               top: -60px;
               left: 5px;
               color: $white;
               // color: $blue-lightest;
               font-size: 45px;
               font-weight: 500;
               // opacity: 0.8;
          }

          #register-form {
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
               align-items: center;
               margin-top: 8%;
               height: 65%;
               width: 75%;
               text-align: center;
               // border: 1px red solid;

               // styles the input field. Strip from default styling and add borders
               .register-input {
                    color: $blue-lightest;
                    opacity: 0.75;
                    background: rgba(0,0,0,0.15);
                    font-size: 1.5em;
                    outline: none;
                    border: 2px rgba(0,0,0,0.25) solid;
                    border-radius: 8px;
                    padding: 10px;

                    // on focus change colour of placeholder
                    &::placeholder {
                         font-family: 'Roboto', sans-serif;
                         font-size: 0.85em;
                         color: rgba(255, 255, 255, 0.25);
                    }

                    &:focus {
                         color: $blue-lightest;
                         opacity: 1;
                    }
               }

               #loading-container {
                    height: 15%;
                    margin-top: 30px;
               }

               #register-button {
                    position: relative;
                    margin-top: 30px;
                    background: none;
                    color: $blue-lightest;
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: 500;
                    height: 15%;
                    width: 32%;
                    border: 0.20em solid $bg-color;
                    border-radius: 3px;
                    // padding: 0.5em 0.9em;
                    cursor: pointer;
                    outline: none;

                    &::before {
                         content: "";
                         display: block;
                         position: absolute;
                         width: 10%;
                         background: $blue-light;
                         height: 0.3em;
                         right: 20%;
                         top: -0.21em;
                         transform: skewX(-45deg);
                         -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                         transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                    }
                    &::after {
                         content: "";
                         display: block;
                         position: absolute;
                         width: 10%;
                         background: $blue-light;
                         height: 0.3em;
                         left: 20%;
                         bottom: -0.25em;
                         transform: skewX(45deg);
                         -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
                         transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                    }
                    &:hover {
                         &::before {
                              right: 80%;
                         }
                    &::after {
                              left: 80%;
                         }
                    }
               }
          }

          #link-container {
               margin-top: 60px;
               text-decoration: none;
          }

          #link {
               text-decoration: underline;
               color: $blue-lightest;
          }
     }

     .fade-in {
          animation: fadeIn ease 0.8s;
          -webkit-animation: fadeIn ease 0.8s;
          -moz-animation: fadeIn ease 0.8s;
          -o-animation: fadeIn ease 0.8s;
          -ms-animation: fadeIn ease 0.8s;
     }
}

@keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
}
     
@-moz-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
}
     
@-webkit-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
}
     
@-o-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
}
     
@-ms-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
}