body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #262A2D;
    height: 100vh;
    width: 100vw;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1B1F23;
    height: 50px;
    width: 100vw;
}

.header-title {
    font-family: 'Noto Sans JP', sans-serif;
    color: aliceblue;
    font-size: 28px;
    margin-left: 10px;
}

.form-container {
    border: 1px aliceblue solid;
    margin-right: 15px;
}

.logout-button {
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    background: #262A2D;
    color: aliceblue;
    border: none;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gauge-container {
    position: relative;
    margin-top: 25px;
    /*border: 1px red solid;*/
    background: #181c21;
    -webkit-box-shadow: 0px 10px 27px 5px rgba(0,0,0,0.8);
    box-shadow: 0px 10px 27px 5px rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 15px;
    height: 235px;
    width: 85%;
}

#wind-dir-container,
#daily-wind-gust-container,
#weekly-rain-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px red solid;*/
    height: 180px;
    width: 185px;
}
#humidity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px red solid;*/
    height: 180px;
    width: 220px;
}


.gauge-desc {
    position: absolute;
    top: 15px;
    /*left: 50%;*/
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}


#temp-chart-container {
    margin-top: 25px;
    /*border: 1px red solid;*/
    height: 300px;
    width: 600px;
}

#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #1B1F23;
    height: 110px;
    width: 100vw;
}

#developers-container {
    color: #7d7d7d;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 15px;
    height: 99%;
    /*border: 1px red solid;*/
}

#names-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*width: 138px;*/
    /*border: 1px red solid;*/
}

.footer-heading {
    font-size: 14px;
    margin-bottom: 3px;
    text-decoration: underline;
}

.footer-subheading {
    font-size: 10px;
}
