#background {
     position: relative;
     display: flex;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     background: #1B262C;
     color: #fff;
}

#title {
    font-size: 31px;
    margin-bottom: 13px;
}


#container {
    margin-top: 40px;
    width: 350px;
}