<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="User account passkey" />

    <link href="../static/css/passkey.css" th:href="@{/css/passkey.css}" rel="stylesheet" />

    <title>PWS Passkey</title>
</head>
<body>
    <div id="background">
        <form th:action="@{/processPasskey}" id="passkey-container" method="post">
            <section class="passkey-title-container">
                <div class="passkey-title">PWS Passkey</div>
            </section>
            <input required name="passkey" type="number" class="passkey-input" placeholder="Passkey" />
            <button type="submit" class="passkey-submit">Submit</button>
        </form>

    </div>

</body>
</html>